// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);
@import url(https://fonts.googleapis.com/css?family=Niconne);

// Variables
@import 'vars';

// Bootstrap

@import 'customize-bootstrap';
@import 'bootstrap-source/bootstrap';

// Vendor plugin files 
@import url(https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css);
@import 'bootstrap-datetimepicker.min';
@import 'notify';
@import url(https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css);
@import 'pace';
@import 'jqvmap';
@import url(https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css);
@import 'bootstrap-notifications';

//Admin Panel Essentials
@import 'panelStyles/panelApp';
@import 'panelStyles/helpers';

//Admin Panel Components
@import 'component/header';
@import 'component/sidebar';
@import 'component/sidebar-mini';

@import 'widgets';
@import 'sweetalert';
@import 'login';
//user profile
@import 'user-profile';
.py-4{
	padding-top: 0 !important;
}

.little-margin-bot{
	margin-bottom: 15px;
}
.little-margin-top{
	margin-top: 15px;
}
.box-h{
	height: 300px;
}
.box-r{
	min-height: 450px !important;
}
.list-unstyled, .app-nav, .app-menu, .treeview-menu {
    padding-left: 0;
    list-style: none;
}
.navbar-logo {
  width: 90px;
}
.navbar {
	height: 50px;
}
.app-nav {
	height: 50px;
}
.main-sidebar,
.left-side,
.control-sidebar {
  padding-top: 60px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.app-sidebar .app-sidebar__user {
  background: url(/images/user-panel-bg_purple.jpg) no-repeat;
  color: #fff;
  padding-top: 15px;
  min-height: 170px;
}
.app-sidebar .app-sidebar__user .image {
  float: none!important;
}
.app-sidebar .app-sidebar__user .info {
  position: initial;
  float: none!important;
  padding: 10px 0;
}
.app-sidebar .app-sidebar__user .info > p {
  font-weight: 500;
}
.app-sidebar .app-sidebar__user .info > a {
  color: #fff;
}
.sidebar-form {
  padding: 10px 15px;
}
.sidebar-form .form-group {
  margin-top: 0;
  padding-bottom: 0;
}
.sidebar-form .input-group-btn {
  padding: 0;
}
.sidebar-form .input-group-btn .btn {
  margin: 0;
  padding: 0;
}
.control-sidebar .form-group {
  margin-top: 0;
}
.content-wrapper,
.right-side {
  background-color: #EEEEEE;
}
.wysihtml5-toolbar .btn {
  padding: 6px 12px;
}
.wysihtml5-toolbar .btn,
.wysihtml5-toolbar .btn-group {
  margin-top: 0;
  margin-bottom: 0;
}

// Componant: Page Title

.app-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	background-color: #FFF;
	margin: (-30px) -30px 30px;
	padding: 20px 30px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

	@media print { display: none; }
	@media (max-width: 480px) {
		margin: (-15px) -15px 15px;
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
	}

	h1 {
		margin: 0;
		font-size: 24px;
		font-weight: 400;
	}

	p {
		margin-bottom: 0;
		font-style: italic;
		@media (max-width: 480px) { display: none; }
	}
}

.app-breadcrumb {
	margin-bottom: 0;
	text-align: right;
	font-weight: 500;
	font-size: 13px;
	text-transform: capitalize;
	padding: 0;
	text-align: left;
	padding: 0;
	background-color: transparent;
	@media (max-width: 480px) { margin-top: 10px; }
}

.responsive-avatar{
	max-width: 70px;
}
.img-responsive{
	max-width: 200px;
	max-height: 200px;
}
.danger {
	color: 	theme-color('danger');
}
.card {
	min-height: 100% !important;
}

.floating{
	position:fixed;
	bottom: 2em;
	right: 2em;
	z-index: 100;
}

.micro-margin-top{
	margin-top: 7px;
}
#portfolio .portfolio-item .portfolio-link{
	max-height: 400px;
}
.custom-img-fluid {
    height: 350px !important;
}
.portfolio-caption{
	min-height: 110px;
	max-height: 110px;
}
.img-fluid{
	max-height: 100% !important;
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18BC9C;
}

hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}
